<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<body>
    scroll-padding-top: 123px;
    <div class="desktop"><div class="div"></div></div>
    <!-- toolbar -->
    <%- include("./partials/toolbar.ejs") %>

    <!-- main banner -->
    <div class="image_mb">
        <img class="main_banner" src="/image/mBanner_section/MainBanner.png" alt="" />
        <img class="main_banner" src="/image/mBanner_section/ms_banner_img2.png" alt="" />
        <button class="back" onclick="plusDivs(-1)">
            <img src="/image/mBanner_section/Back.png" width="50" height="50" alt="" />
        </button>
        <button class="forward" onclick="plusDivs(+1)">
            <img src="/image/mBanner_section/Forward.png" width="50" height="50" alt="" />
        </button>
    </div>

    <script src="js/productJS/slide.js"></script>

    <!--  -->
    <section>
        <section class="Sach">
            <div class="product">
                <div class="header2">
                    <h2>SÁCH MỚI</h2>
                </div>
                <div class="items">
                    <% if (sps.length > 0) { %>
                        <% const recentlyAddedBooks = sps.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt)); %>
                        <% const maxBooksToShow = Math.min(5, recentlyAddedBooks.length); %>
                        <% for (let i = 0; i < maxBooksToShow; i++) { %>
                            <% const book = recentlyAddedBooks[i]; %>
                            <div class="item">
                                <img src="<%= book.img_small2 %>" onclick="location.href='/main/<%= book.id %>'" alt="">
                                <ul class="text">
                                    <li class="ten-sach" onclick="location.href='/main/<%= book.id %>'"><%= book.tensach %></li>
                                    <li class="gia-tien"><%= book.giagiam %></li>
                                    <li class="gia-goc"><%= book.giagoc %></li>
                                </ul>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="xemthem">
                    <button data-target="sachmoi">Xem thêm</button>
                </div>
            </div>
        </section>

        <section class="Sach">
            <div class="product">
                <div class="header2">
                    <h2>SÁCH BÁN CHẠY</h2>
                </div>
                <div class="items">
                    <% if (sps.length > 0) { %>
                        <% const bestSellingBooks = sps.sort((a, b) => parseInt(b.luotban) - parseInt(a.luotban)); %>
                        <% const maxBestSellingBooks = Math.min(5, bestSellingBooks.length); %>
                        <% for (let j = 0; j < maxBestSellingBooks; j++) { %>
                            <% const book1 = bestSellingBooks[j]; %>
                            <div class="item">
                                <img src=<%= book1.img_small2 %> onclick="location.href='/main/<%= book1.id %>'" alt="">
                                <ul class="text">
                                    <li class="ten-sach" onclick="location.href='/main/<%= book1.id %>'"><%= book1.tensach %></li>
                                    <li class="gia-tien"><%= book1.giagiam %></li>
                                    <li class="gia-goc"><%= book1.giagoc %></li>
                                </ul>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="xemthem">
                    <button data-target="sachbanchay">Xem thêm</button>
                </div>
            </div>
        </section>

        <img class="banner-nxb" src="image/NXBkimdong.png" alt="">

        <section class="Sach">
            <div class="product">
                <div class="header2">
                    <h2>NHÀ XUẤT BẢN KIM ĐỒNG</h2>
                </div>
                <div class="items">
                    <% let count = 0; %>
                    <% if (sps.length > 0) { %>
                        <% sps.forEach(sp => { %>
                            <% if (sp.nxb === 'Kim Đồng' && count < 5) { %>
                                <div class="item">
                                    <img src=<%= sp.img_small2 %> onclick="location.href='/main/<%= sp.id %>'" alt="">
                                    <ul class="text">
                                        <li class="ten-sach" onclick="location.href='/main/<%= sp.id %>'"><%= sp.tensach %></li>
                                        <li class="gia-tien"><%= sp.giagiam %></li>
                                        <li class="gia-goc"><%= sp.giagoc %></li>
                                    </ul>
                                </div>
                                <% count++; %>
                            <% } %>
                        <% }) %>    
                    <% } %>
                </div>
                <div class="xemthem">
                    <button data-target="nxbkimdong">Xem thêm</button>
                </div>
            </div>
        </section>

        <img class="banner-nxb" src="image/NXBnhanam.png" alt="">

        <section class="Sach">
            <div class="product">
                <div class="header2">
                    <h2>NHÀ XUẤT BẢN NHÃ NAM</h2>
                </div>
                <div class="items">
                    <% let count1 = 0; %>
                    <% if (sps.length > 0) { %>
                        <% sps.forEach(sp => { %>
                            <% if (sp.nxb === 'Nhã Nam' && count1 < 5) { %>
                                <div class="item">
                                    <img src=<%= sp.img_small2 %> onclick="location.href='/main/<%= sp.id %>'" alt="">
                                    <ul class="text">
                                        <li class="ten-sach" onclick="location.href='/main/<%= sp.id %>'"><%= sp.tensach %></li>
                                        <li class="gia-tien"><%= sp.giagiam %></li>
                                        <li class="gia-goc"><%= sp.giagoc %></li>
                                    </ul>
                                </div>
                                <% count1++; %>
                            <% } %>
                        <% }) %>    
                    <% } %>
                </div> 
                <div class="xemthem">
                    <button data-target="nxbnhanam">Xem thêm</button>
                </div>
            </div>
        </section>

        <script src="js/productJS/xemThem.js"></script>
        <script src="js/productJS/search.js"></script>
    </section>
    <!--footer-->
    <%- include("./partials/footer.ejs") %>
</body>
</html>