<!DOCTYPE html>
<html>
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/style_thongtin.css" />
    <body onload="Love()">
        scroll-padding-top: 123px;
        <div class="desktop"><div class="div"></div></div>
        <!--form bắt đầu từ đây-->
        <form action="/main/<%= sp.id %>" method="post">
        <!-- toolbar -->
        <div class="box"> 
            <img src="/image/Logo.png" onclick="location.href='/main'" alt=""> <!--! /*mới sửa onclick*/-->
            <button id="menu" style="background: url(/image/toolbar_section/Category.png)"></button>
            <div class="dropdown-content" id="myDropdown" style="display: none;"> <!--mới thêm style-->
                <!-- Nội dung của dropdown sẽ được đặt ở đây -->
                <a class="cate-item">VĂN HỌC</a>
                <a href="/tieuthuyet">Tiểu thuyết</a>
                <a href="/tntv">Truyện ngắn - Tản văn</a>
                <a href="/lightnovel">Light Novel</a>
                <a class="cate-item">THIẾU NHI</a>
                <a href="/truyentranh">Truyện tranh</a>
                <a class="cate-item">GIÁO KHOA - THAM KHẢO</a>
                <a href="/sgk">Sách giáo khoa</a>
                <a href="/luyenthi">Luyện thi THPT Quốc Gia</a>
                <a class="cate-item" href="/sachmoi">SÁCH MỚI</a>
                <a class="cate-item" href="/sachbanchay">SÁCH BÁN CHẠY</a>
            </div>
            <script>
              // Lắng nghe sự kiện click trên button
              document.getElementById("menu").addEventListener("click", function() {
                // Lấy ra phần dropdown
                var dropdown = document.getElementById("myDropdown");
                // Kiểm tra xem dropdown hiện đang ẩn hay hiển thị
                if (dropdown.style.display === "none") {
                    // Nếu đang ẩn, thì hiển thị dropdown bằng cách thêm class "show" vào nó
                    dropdown.style.display = "block";
                } else {
                    // Nếu đang hiển thị, thì ẩn dropdown bằng cách loại bỏ class "show" khỏi nó
                    dropdown.style.display = "none";
                }
            });  
            </script>
            <input id="searchInput" placeholder="  Tìm kiếm sản phẩm...">
            <button id="search" style="background: url(/image/toolbar_section/Search.png)"></button>
            <script>
                const searchButton = document.getElementById("search");
            
                if (searchButton) {
                    searchButton.addEventListener("click", function() {
                        const searchText = document.getElementById("searchInput").value;
                        if (searchText !== '') {
                            window.location.href = `/search/${encodeURIComponent(searchText)}`;
                        }
                    });
                }
            </script>
            <div id="love">
                <button type="button" onclick="location.href='/yeuthich'"></button>
                <p style="padding-left: 5px;">Yêu thích</p>
            </div>
            <div id="gio-hang">
                <button type="button" style="background: url(/image/toolbar_section/Shopping-Cart.png)" onclick="location.href='/giohang'"></button>
                <p>Giỏ hàng</p>
            </div>
        
            <%if (kh != '') { %>
                <div class="dropdown" id="tai-khoan">
                   <a href="/main">
                       <div class="container">
                           <div class="dropbtn" style="background: url(/image/toolbar_section/Person.png) no-repeat"></div>
                           <div class="accountTitle"><%= kh %></div>
                           <input type="hidden" name="mail" value="<%= mail %>" id="mail">                           
                        </div>
                   </a>
                   <div class="dropdown-content">
                       <a href="/login">Đăng xuất</a>
                   </div>
               </div>
               <% } else { %>
               <div class="dropdown" id="tai-khoan">
                   <a href="/login">
                       <div class="container">
                           <div class="dropbtn" style="background: url(/image/toolbar_section/Person.png) no-repeat"></div>
                           <div class="accountTitle">Tài khoản</div>
                           <input type="hidden" name="mail" value="<%= mail %>" id="mail">
                       </div>
                   </a>
                   <div class="dropdown-content">
                       <a href="/login">Đăng nhập</a>
                       <a href="/signup">Đăng ký</a>
                   </div>
               </div>
            <% } %>
        </div>

        <!--  -->
        <section>
            <section class="Sach">
                <div class="product">
                    <div class="product_url">
                        <ol class="url">
                            <li class="0"> <a onclick="location.href='/main'">Trang chủ</a> <span>&#62;</span> </li>
                            <li class="1"> <a onclick="location.href='/main'">Sách mới</a> <span>&#62;</span> </li>
                            <li class="2"> <a onclick="location.href='/main'">NXB Nhã Nam</a> </li>
                        </ol>
                    </div>
                    <div class="show">
                        <div class="product_media">
                            <div class="product_view">
                                <div class="img_small">
                                    <div class="items">
                                        <a class="item-1" title="<%= title %>" href=<%= sp.img_small1 %>>
                                            <img src=<%= sp.img_small1 %> alt="img-1">
                                        </a>
                                        <a class="item-2" title="<%= title %>" href=<%= sp.img_small2 %>>
                                            <img src=<%= sp.img_small2 %> alt="img-2">
                                        </a>
                                        <a class="item-3" title="<%= title %>" href=<%= sp.img_small3 %>>
                                            <img src=<%= sp.img_small3 %> alt="img-3">
                                        </a>
                                        <a class="item-4" title="<%= title %>" href=<%= sp.img_small4 %>>
                                            <img src=<%= sp.img_small4 %> alt="img-4">
                                        </a>
                                        <a class="item-5" title="<%= title %>" href=<%= sp.img_small5 %>>
                                            <img src=<%= sp.img_small5 %> alt="img-5">
                                        </a>
                                    </div>
                                </div>
                                <div class="img_big" img_index="0">
                                    <img src=<%= sp.img_small1 %> alt="img-1" title="<%= title %>">
                                </div>
                            </div>
                        </div>
                        <div class="product_detail" >
                            <button type="button" title="Yêu thích" id="love-btn" data-doc="<%= sp.masp %>"></button>
                            <h1><%= title %></h1>
                            <div class="gia">
                                <span class="giagiam"><%= sp.giagiam %></span>
                                <span class="giagoc"><%= sp.giagoc %></span>
                                <span class="giam"><%= sp.phantram %></span>
                            </div>
                            <div class="ttsp">
                                <div class="masp" style="margin-bottom: 15px;">
                                    <span>Mã sản phẩm: </span>
                                    <span><%= sp.masp %></span>
                                    <input type="hidden" name="masp" id="masp" value="<%= sp.masp %>">
                                </div>
                                <div class="nxb" style="margin-bottom: 15px;">
                                    <span>Nhà xuất bản: </span>
                                    <span><%= sp.nxb %></span>
                                </div>
                                <div class="tacgia" style="margin-bottom: 15px;">
                                    <span>Tác giả: </span>
                                    <span><%= sp.tacgia %></span>
                                </div>
                                <div class="bia" style="margin-bottom: 15px;">
                                    <span>Hình thức bìa: </span>
                                    <span><%= sp.bia %></span>
                                </div>
                            </div>                            
                            <div id="sl">
                                <label>Số lượng: </label>
                                <div class="sl_box">
                                    <a class="sub" onclick="decreaseQuantity()">&#8722;</a>
                                    <input name="sl" id="so" maxvalue="999" minvalue="1" align="center" value="1">
                                    <a class="add" onclick="increaseQuantity()">&#43;</a>
                                </div>
                                <script>
                                    function increaseQuantity() {
                                      var inputElement = document.getElementById("so");
                                      var currentValue = parseInt(inputElement.value, 10);
                                      if (currentValue < 999) {
                                        inputElement.value = currentValue + 1;
                                      }
                                    }
                                  
                                    function decreaseQuantity() {
                                      var inputElement = document.getElementById("so");
                                      var currentValue = parseInt(inputElement.value, 10);
                                      if (currentValue > 1) {
                                        inputElement.value = currentValue - 1;
                                      }
                                    }
                                </script>
                            </div>                            
                            <div class="add_or_buy">
                                <button type="button" title="Thêm giỏ hàng" class="add" id="add" onclick="validateEmail()">
                                    <span class="cart_icon"></span>
                                    <span>Thêm vào giỏ</span>
                                    <input type="hidden" name="id" value="<%= sp.id %>">
                                </button>
                                <button type="button" title="Mua ngay" class="buy" id="buy">
                                    <span>Mua ngay</span>
                                </button>                                                               
                            </div>
                        </div>    
                    </div>
                </div>  
            </section>
            <section class="Sach_items">
                <div class="product">
                    <div class="title_sp">Mô tả sản phẩm</div>
                    <div class="ct_ttsp">
                        <div class="coban">
                            <table class="ttcb">
                                <colgroup>
                                    <col width="25%">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>Mã sản phẩm</td>
                                        <td><%= sp.masp %></td>
                                    </tr>
                                    <tr>
                                        <td>Nhà xuất bản</td>
                                        <td><%= sp.nxb %></td>
                                    </tr>
                                    <tr>
                                        <td>Tác giả</td>
                                        <td><%= sp.tacgia %></td>
                                    </tr>
                                    <tr>
                                        <td>Dịch giả</td>
                                        <td><%= sp.dichgia %></td>
                                    </tr>
                                    <tr>
                                        <td>Năm xuất bản</td>
                                        <td><%= sp.namxb %></td>
                                    </tr>
                                    <tr>
                                        <td>Trọng lượng (g)</td>
                                        <td><%= sp.trongluong %></td>
                                    </tr>
                                    <tr>
                                        <td>Kích thước</td>
                                        <td><%= sp.kichthuoc %></td>
                                    </tr>
                                    <tr>
                                        <td>Số trang</td>
                                        <td><%= sp.sotrang %></td>
                                    </tr>
                                    <tr>
                                        <td>Định dạng</td>
                                        <td><%= sp.bia %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="chitiet">
                            <div class="mota">
                                <p class="title_sach"><%- sp.tensach %></p>
                                <p><%- sp.mota %></p>
                            </div>
                        </div>
                    </div>                    
                    <div class="xemthem">
                        <a id="more">Xem Thêm</a>
                    </div>
                </div>  
            </section>
            <section class="Sach_items">
                <div class="splq">
                    <div class="header2" style="margin: 20px 0 30px">
                        <h3>SẢN PHẨM LIÊN QUAN</h3>
                    </div>
                    <div class="items_lq">
                        <% let count = 0; %>
                        <% if (splq.length > 0) { %>
                            <% splq.forEach(lq => { %>                                
                                <% if (lq.id != sp.id && count < 5) { %>
                                    <div class="item">
                                        <img src=<%= lq.img_small2 %> onclick="location.href='/main/<%= lq.id %>'" alt="">
                                        <ul class="text">
                                            <li class="ten-sach" onclick="location.href='/main/<%= lq.id %>'"><%= lq.tensach %></li>
                                            <li class="gia-tien"><%= lq.giagiam %></li>
                                            <li class="gia-goc"><%= lq.giagoc %></li>
                                        </ul>
                                    </div>
                                    <% count++; %>
                                <% } %>
                            <% }) %>    
                        <% } %>
                    </div>
                </div>
            </section>
        </section>
        
        </form>

        <!--Thông báo-->
        <div id="notification-err"  style="display: none;">
            <div class="thongbao">
                <div class="thongbao-title">
                    <p>Vui lòng Đăng nhập hoặc Đăng kí</p>
                    <button class="close" onclick="closeNotification()"><img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_delete_gray.svg?q="></button>
                </div>                
                <img src="https://static.vecteezy.com/system/resources/previews/017/178/032/original/round-cross-mark-symbol-with-transparent-background-free-png.png">
            </div>
        </div>
        <div id="notification-tc" style="display: none;">
            <div class="thongbao">
                <div class="thongbao-title">
                    <p>Thêm vào giỏ hàng thành công</p>
                    <button class="close" onclick="closeNotification()"><img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_delete_gray.svg?q="></button>
                </div>                
                <img src="https://static.vecteezy.com/system/resources/previews/017/177/933/non_2x/round-check-mark-symbol-with-transparent-background-free-png.png">
            </div>
        </div>
        <div id="notification-tb" style="display: none;">
            <div class="thongbao">
                <div class="thongbao-title">
                    <p>Thêm vào giỏ hàng thất bại</p>
                    <button class="close" onclick="closeNotification()"><img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ico_delete_gray.svg?q="></button>
                </div>                
                <img src="https://static.vecteezy.com/system/resources/previews/017/178/032/original/round-cross-mark-symbol-with-transparent-background-free-png.png">
            </div>
        </div>
        <!------------>

        <%if (err === 'No') {%>
            <script>
                var notification = document.getElementById('notification-tc');
                if (notification) {
                notification.style.display = 'flex';
                setTimeout(function () {
                    notification.style.display = 'none';
                }, 10000);
                }
            </script>
        <% } else if (err === 'Yes') {%> 
            <script>
                var notification = document.getElementById('notification-tb');
                if (notification) {
                notification.style.display = 'flex';
                setTimeout(function () {
                    notification.style.display = 'none';
                }, 10000); // Ẩn thông báo
                }
            </script>
        <% } %>     

        <script>
            function validateEmail() {
                var emailInput = document.getElementById("mail");  
                var notification_err = document.getElementById("notification-err"); 
                
                var addButton = document.getElementById("add");
        
                // Kiểm tra nếu giá trị của email không phải là null hoặc rỗng
                if (emailInput.value.trim() === '') {
                    notification_err.style.display = "flex";
                    setTimeout(function () {
                        notification_err.style.display = 'none';
                    }, 10000);
                } 
                else {                               
                    addButton.type = "submit";
                }
            }

            function closeNotification() {
                var notification_tc = document.getElementById("notification-tc");
                var notification_tb = document.getElementById("notification-tb");
                var notification_err = document.getElementById("notification-err");
                notification_tc.style.display = "none";
                notification_tb.style.display = "none";
                notification_err.style.display = "none";
            }
        </script>
        <!--Script mua ngay-->
        <script>
            document.querySelectorAll('#buy').forEach((button) => {
            button.addEventListener('click', (e) => {
                const endpoint = `/thanhtoan1`;
                const masp = document.querySelector('#masp').value;
                const sl = document.querySelector('#so').value;

                // Gửi yêu cầu DELETE đến server
                fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ mail: '', masp: masp, sl: sl }),
                })
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err));
            });
            });
        </script>
        <!--Script yêu thích-->
        <script>
            const loveBtn = document.getElementById('love-btn');
            let isLoved = false;    

            var emailInput = document.getElementById("mail");
            var notification_err = document.getElementById("notification-err");

            loveBtn.addEventListener('click', () => {
                if (emailInput.value.trim() === '') {
                    notification_err.style.display = "flex";
                    setTimeout(function () {
                        notification_err.style.display = 'none';
                    }, 10000);
                } 
                else {                               
                    if (isLoved) {
                        // Thực hiện DELETE request
                        deleteBtn();
                        loveBtn.style.backgroundImage = 'url(/image/toolbar_section/heart0.png)';
                    } else {
                        // Thực hiện POST request
                        postBtn();
                        loveBtn.style.backgroundImage = 'url(/image/toolbar_section/heart1.png)';
                    }
                    
                    // Đảo ngược trạng thái isLoved
                    isLoved = !isLoved;
                }                
            });

            const docId = loveBtn.dataset.doc;
            const endpoint = `/yeuthich/${docId}`;
            
            function deleteBtn() {
                fetch(endpoint, {
                    method: 'DELETE',
                })
                .catch(err => console.log(err));
            }

            function postBtn() {
                fetch(endpoint, {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ mail: emailInput.value, masp: docId}),
                })
                .catch(err => console.log(err));
            }  

            function getBtn() {
                fetch(endpoint, {
                    method: 'GET',
                })
                .then(response => response.json())
                .then(data => {
                    if (data.thongbao == "loved")
                    {
                        isLoved = true;
                        loveBtn.style.backgroundImage = 'url(/image/toolbar_section/heart1.png)';
                    }
                    else
                    {
                        isLoved = false;
                        loveBtn.style.backgroundImage = 'url(/image/toolbar_section/heart0.png)';
                    }
                })
                .catch(err => console.log(err));
            }  

            //Check Love or Not
            document.addEventListener('DOMContentLoaded', async () => {
                if (emailInput.value.trim() !== '') {
                    getBtn();
                } 
            });          
        </script>
        <!--Script xem thêm - chưa xong-->
        <script>
            const showMoreBtn = document.getElementById('more');
            const hiddenContent = document.querySelector('.ct_ttsp');

            showMoreBtn.addEventListener('click', function () {
                // Hiển thị đoạn văn bản ẩn
                hiddenContent.style.display = 'block';

                // Tăng chiều cao của div chứa để hiển thị toàn bộ nội dung
                //contentContainer.style.maxHeight = hiddenContent.clientHeight + 'px';

                // Ẩn nút "Xem thêm" sau khi nhấn
                showMoreBtn.style.display = 'none';
            });
        </script>
        
        <!--footer-->
        <%- include("./partials/footer.ejs") %>
    </body>
</html>